<table>
  <tbody>
    <tr>
      <td>
        Goal:
      </td>
      <td>
        <%= @goal.goal %>
      </td>
    </tr>
    <tr>
      <td>
        Date Created: 
      </td>
      <td>
        <%= @goal.date_created %>
      </td>
    </tr>
    <tr>
      <td>
        Estimated Completiong Date:
      </td>
      <td>
        <%= @goal.estimated_completion_date %>
      </td>
    </tr>
    <tr>
      <td>
        Actual Completion Date::
      </td>
      <td>
        <%= @goal.actual_completion_date %>
      </td>
    </tr>
    <tr>
      <td>
        Accomplishments:
      </td>
      <td>
        <%= @goal.accomplishments %>
      </td>
    </tr>   
  </tbody>
</table>